.more_section {
    margin-top: 50px;
    min-height: 500px;
    padding: 30px 0;
    .container {
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            text-align: center;
            font-size: 32px;
        }
        .descr {
            text-align: center;
            color: #7a7a7a;
            line-height: 35px;
            font-weight: 500;
            margin-top: 20px;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .content {
            margin-top: 20px;
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            .top {
                width: 100%;
                display: flex;
                gap: 30px;
                justify-content: center;
                flex-wrap: wrap;
            }
            .bottom {
                width: 200%;
                display: flex;
                gap: 30px;
                justify-content: center;
                flex-wrap: wrap;
            }
            .card{
                box-shadow: 4px 4px 40px 2px rgba(34, 60, 80, 0.2);
                border-radius: 12px;
                padding: 20px;
                width: 325px;
                display: flex;
                padding-bottom: 40px;
                flex-direction: column;
                gap: 30px;
                img{
                    object-fit: contain;
                }
                .card_title {
                    text-align: center;
                    font-weight: 600;
                    font-size: 20px;
                }
                .card_descr{
                    font-size: 18px;
                    text-align: center;
                    color: #7a7a7a;
                    line-height: 31px;
                }
                button{
                    border: none;
                    background-color: #fff;
                    transition: 0.3s all;
                    cursor: pointer;
                    width: 135px;
                    margin: 0 auto;
                    font-weight: 600;
                    font-size: 18px;
                    color: #0256ff;
                    &:hover {
                        color: #f45c20;
                    }
                }
            }
        }
        .content-2{
            width: 100%;
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        .top{
            min-height: 600px;
            display: flex;
            align-items: center;
            gap: 80px;
            flex-wrap: wrap;
            justify-content: space-around;
            .left{
                height: 365px;
                max-width: 600px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
                .right{
                    max-width: 300px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    h1{
                        font-size: 32px;
                    }
                    p{
                        font-size: 18px;
                        color: #7A7A7A;
                    }
                    button{
                        max-width: 281px;
                        height: 57px;
                        border-color: white;
                        border-radius: 13px 13px 13px 13px;
                        background: #f45c20;
                        color: white;
                        font-weight: 600;
                    }
                }
        }
        }
        .content-3{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items:center;
            .bigCard{
                margin: 0 auto;
                width: 1120px;
                background-color: blue;
                height: 602px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 40px;
                .top{
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                        justify-content: space-around;
                 h1{
                     color: white;
                 }
                    button{
                        max-width: 186px;
                        height: 75px;
                        font-size: 18px;
                        font-weight: 500;
                        border: none;
                        border-radius: 10px;
                        color:#f45c20 ;
                        background-color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 20px;
                        transition: 0.3s all;
                        &:hover{
                            color: white;
                            background-color: #f45c20;
                        }
                    }
             }
                .bottom{
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                    .card1{
                        height: 300px;
                        background-color: #FFFFFF;
                        max-width: 200px;
                        display: flex;
                        flex-direction: column;
                        border-radius: 10px;
                        text-align: center;
                        .imgDiv{
                            height: 200px;
                            max-width: 200px;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                            }
                            p{
                                    font-size: 10px;
                            }
                        }

                    }
                }
            }
        }
    }
}