.parent {
  margin-top: 60px;
  min-height: 500px;
  ul {
    margin: 0;
  }
  .container {
    padding-left: 40px;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: center;
    .content {
      width: 1200px;
      height: 100%;
    }
    .title_main {
      text-align: center;
    }
    .title {
      margin: 20px 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      span {
        line-height: 30px;
        letter-spacing: 1px;
      }
    }
    .title-2 {
      margin-bottom: 40px;
      font-size: 18px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 30px;
      list-style-type: none;
      li {
        line-height: 30px;
        position: relative;
        &::before {
            content: "";
          background-color: #7a7a7a;
          position: absolute;
          left: -20px;
          top: 10px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
        }
        span {
            font-weight: 600;
        }
      }
    }
    .title_main {
      font-size: 50px;
    }
    p {
      color: #7a7a7a;
    }
    h1 {
        margin-top: 20px;
      font-size: 24px;
      font-weight: 600;
      color: var(--black);
    }
    p {
        padding: 20px ;
        line-height: 34px;
        letter-spacing: 0.5px;
    }
    span {
      font-weight: 500;
      color: #7a7a7a;
    }
    .h-2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .p-2 {
        line-height: 35px;
        padding-bottom: 20px;
    }
    .ul-2 {
        list-style-type: decimal;
        li::before {
            content: "";
            background-color: transparent;
        }
    }
  }
}
