.section1{
  min-height: 800px;
  width: 100%;
  background-image: url("../../images/bgAnimation.gif");
  background-repeat: no-repeat;
  background-size: cover;
  .container{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    .top{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      min-height: 600px;
      width: 100%;
      gap: 30px;
      @media (max-width: 750px) {
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
      }
      .left{
        height: 100%;
        width: 50%;
        @media (max-width: 980px) {
          width: 100%;
          text-align: center;
        }
        @media (max-width: 750px) {
          width: 100%;
          text-align: center;
        }
        h1{
          font-weight: 700;
          font-size: 64px;
          line-height: 86px;
          color: #FFFFFF;
        }
        p{
          font-weight: 500;
          font-size: 20px;
          line-height: 29px;
          align-items: center;
          letter-spacing: 1.27px;
          color: #FFFFFF;
        }
        button{
          width: 303px;
          height: 59px;
          border:none;
          font-size: 20px;
          cursor: pointer;
          background: linear-gradient(180deg, #F08200 0%, #F0CA00 100%);
          border-radius: 10px;
        }
      }
      .right{
        img{
          height:339px;
          max-width:452px;
        }
      }
    }
    .bottom{
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      align-items: center;
      .card1{
        width: 260px; h1{
          font-weight: 600;
          font-size: 36px;
          line-height: 130%;
          color: #FFFFFF;
        }
        p{
          font-weight: 500;
          font-size: 16px;
          line-height: 145%;
          color: #FFFFFF;
        }
      }
      .card4{
        width: 220px;
        h1{
          font-weight: 600;
          font-size: 36px;
          line-height: 130%;
          color: #FFFFFF;
        }
        p{
          font-weight: 500;
          font-size: 16px;
          line-height: 145%;
          color: #FFFFFF;
        }
      }
    }
  }
}
