.section12{
  min-height: 612px;
  background: linear-gradient(270deg, #071927 0%, #045EB0 0.01%, #03101C 122.33%);
  .container{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
    }
    .forImg {
      img {
        width: 500px;
        height: 500px;
        object-fit: contain;
      }
    }
    .left{
      max-width: 100%;
      min-height: 100%;
      padding-bottom: 20px;
      display: flex;
      padding-top: 20px;
      align-items: center;
      justify-content: center;
      gap: 20px;
      @media (max-width: 700px) {
        align-items: center;
        justify-content: start  ;
        padding: 30px;
        max-width: 100%;
      }
      .innerLeft{
        width: 72%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 700px) {
          width: 100%;
        }
      }
      h1{
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
      }
      h4{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }
      .inp1{
        width: 330px;
        height: 51px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border-radius: 5px;
        padding: 15px;
        color: #8E8E8E;
        @media (max-width: 700px) {
          width: 100%;
        }
      }
      .inp2{
        width: 330px;
        height: 51px;
        background: #FFFFFF;
        border: 1px solid #C2C2C2;
        border-radius: 5px;
        padding: 15px;
        @media (max-width: 700px) {
          width: 100%;
        }
      }
      .inp3{
        width: 330px;
        padding: 10px;
        resize: vertical;
        height: 128px;
        background: #FFFFFF;
        border: 1px solid #C2C2C2;
        border-radius: 5px;
        @media (max-width: 700px) {
          width:100%;
        }
      }
      button{
        width:80%;
        height: 51px;
        background: #F08200;
        box-shadow: 4px 4px 4px rgba(255, 124, 0, 0.26);
        border-radius: 3px;
        border: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 136.9%;
        color: #FFFFFF;
        cursor: pointer;
        @media (max-width: 700px) {
          width:100%;
        }
      }
      small{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        span{
        text-decoration: underline;
        }
      }
    }
    .right{
        width: 50%;
      @media (max-width: 700px) {
        width: 100%;
      }
      @media (max-width:700px) {
        .forImg{
          min-height: 110%;
          width: 100%;
          img{
            height: 100%;
            width:100%;
            object-fit: cover;
          }
        }
      }

    }
  }
}