.section2{
  height: 600px;
  .container{
    height: 6003px;
    max-width: 1440px;
    background-color: skyblue;
    margin: 0 auto;
    .top{
      display: flex;
      justify-content: center;
      border: 5px solid;
    }
  }
}