.section4{
  height: 827px;
  background-color: blue;

  .container{
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    .left{
      max-width: 500px;
      border: 5px solid;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}