.section4{
  height: 472px;
  .container{
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    background-image: url("../../images/Rectangle 363.svg");
    .top{
      .left{

      }
    }
  }
}