.section4{
  min-height: 827px;
  background: #071927;
  .container{
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    max-width: 1440px;
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
    .left{
      display: flex;
      padding: 0 20px;
      flex-direction: column;
      gap: 30px;
      justify-content: center;
      @media (max-width: 800px) {
        width: 100%;
        text-align: start;
      }
      h1{
        font-weight: 500;
        font-size: 36px;
        line-height: 56px;
        color: #FFFFFF;
      }
      h2{
        font-weight: 500;
        font-size: 32px;
        line-height: 47px;
        color: #FFFFFF;
      }
      img{
        height:339px;
        object-fit: contain;
        max-width:100%;
      }
    }
    .right{
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      .first{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3{
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          color: #FFFFFF;
        }
        ul{
          li{
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}