.section5{
  min-height: 1500px;
  .container{
    button {
      border:none;
    }
    max-width: calc(1440px - (165px + 165px));
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    .card1{
      width: 100%;
      height: 100%;
      background-image: url("../../images/card1.webp");
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      background-size: cover;
      padding-left: 40px;
      justify-content: center;
      border-radius: 8px;
    padding-top: 30px;
      gap: 15px;
      padding-bottom: 40px;
      h1{
        display: inline;
        font-weight: 500;
        font-size: 32px;
        line-height: 47px;
        color: #FFFFFF;
      }
      ul{
        li{
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          color: #FFFFFF;
        }
      }
      button{
        width: 236px;
        height: 43px;
        background: #FFFFFF;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        line-height: 47px;
        color: #000000;

      }
    }
    .card2{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      background-size: cover;
      padding-left: 40px;
      justify-content: center;
      border-radius: 8px;
      padding-top: 30px;
      padding-bottom: 40px;
      gap: 15px;
      background-image: url("../../images/card3.webp");
      h1{
        font-weight: 500;
        font-size: 32px;
        line-height: 47px;
        color: #FFFFFF;
      }
      ul{
        li{
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          color: #FFFFFF;
        }
      }
      button{
        width: 236px;
        height: 43px;
        background: #FFFFFF;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 500;
        font-size: 20px;
        line-height: 47px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
    .card3{
      padding-top: 30px;
      padding-bottom: 40px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      background-size: cover;
      padding-left: 40px;
      justify-content: center;
      border-radius: 8px;
      gap: 15px;
      padding-bottom: 20px;
      background-image: url("../../images/card2.webp");
      h1{
        font-weight: 500;
        font-size: 32px;
        line-height: 47px;
        color: #FFFFFF;
      }
      ul{
        li{
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          color: #FFFFFF;
        }
      }
      button{
        width: 236px;
        height: 43px;
        background: #FFFFFF;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 500;
        font-size: 20px;
        line-height: 47px;
        display: flex;
        align-items: center;
        color: #000000;
        justify-content: center;
      }
    }
  }
}