.section10{
  min-height: 900px;
  .container{
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    .main{
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: 100%;
      margin: 0 auto;
      width: 100%;
    }
    .d{
      display: flex;
      flex-direction: column;
      h3{
        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
        letter-spacing: 0.27px;
        color: #000000;
        span{
          color: blue;
        }
      }
      p{
        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
        letter-spacing: 0.27px;
        color: #000000;
      }
    }
      img{
        height: 100%;
        width: 100%;
    }
  }
}