* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat";
}
/* *::selection {
  background-color: transparent;
} */
.sticky-btns {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 1.25rem;
  z-index: 100;
}

@keyframes pulse-purple{0%{-webkit-transform:scale(.95);transform:scale(.95);-webkit-box-shadow:0 0 0 0 rgba(99,82,205,.7);box-shadow:0 0 0 0 rgba(99,82,205,.7)}70%{-webkit-transform:scale(1.05);transform:scale(1.05);-webkit-box-shadow:0 0 0 10px rgba(0,0,0,0);box-shadow:0 0 0 10px rgba(0,0,0,0)}100%{-webkit-transform:scale(.95);transform:scale(.95);-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 0 rgba(0,0,0,0)}}

.sticky-btns__item img, .sticky-btns__item svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.sticky-btns__item--blue {
  background: #4c8ced;
  -webkit-animation: pulse-purple 2s infinite;
  animation: pulse-purple 2s infinite;
}

.sticky-btns__item {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  padding: 1.25rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .1s ease;
  transition: .1s ease;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 0 0 #000;
  box-shadow: 0 0 0 0 #000;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media (max-width:767px) {
  .sticky-btns__item {
    width: 2.5rem;
    height: 2.5rem;
    padding: 7px;
  }
  .sticky-btns {
    right: 10px;
  }
}
:root {
  --black: #141414;
  --orange: #f08200;
  --input_color:rgba(61,205,92,0.5);
}
@media (max-width: 500px) {
  .btn-2 {
    margin: 0  10px 0px 0px !important;
    height: 30px !important;
    width: 30px !important;
  }
  .btn-1 {
    margin: 0 0 0 10px !important;
    height: 30px !important;
    width: 30px !important;
  }
  .btn-2 i {
    font-size: 20px !important;
  }
  .swiper_item .title {
    width: 100%;
    font-size: 20px !important;
  }
  .swiper_item {
    padding: 56px 70px 0 !important;
  }
  .swiper_item .price {
    margin-top: 40px !important;
    font-size: 20px !important;
  }
  .swiper_container  {
    min-height: 300px;
  }
  .swiper_item .links {
    gap: 14px  !important;
    left: 20px !important;
    width: 100% !important;
    flex-wrap: wrap !important;
  }
  .swiper_item .links li {
    font-size: 10px;
  }
  .swiper_item .links li::before {
    width: 10px !important;
    height: 10px !important;
    left: -12px !important;
    top: 1px !important;
  }
  
}
@media (max-width: 500px) {
  .swiper_item {
    height: 80vw !important;
  }
}
.spinner-wrap {
  position: relative;
}
.spinner-item {
  border: 1px solid rgba(77, 139, 237, 255);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: zoom 2s linear 0.75s infinite;
}
.spinner-item--2 {
  animation-delay: 1.25s;
}
.spinner-item--3 {
  animation-delay: 1.75s;
}
@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.s-m {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.btn-swiper {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-swiper i {
  color: #fff;
  font-size: 20px;
}
.btn-swiper:first-child {
  margin-left: 40px;
}
.btn-2 {
  width: 70px;
  height: 70px;
  margin-right: 20vw;
}
.btn-2 i {
  font-size: 40px;
}
.swiper_item {
  width: 100%;
  position: relative;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 56px 165px 0;
  background-size: cover;
}
.i-1 {
  background-image: url("./images/swiper_1-min.jpeg");
}
.i-2 {
  background-image: url("./images/swiper_2-min.jpeg");
}
.i-3 {
  background-image: url("./images/swiper_3-min.jpeg");
}
.i-4 {
  background-image: url("./images/swiper_4-min.jpeg");;
}
.i-5 {
  background-color: #1a4a7f;
  background-image: url("./images/swiper_5-min.png");;
  background-size: contain;
  background-position: right;
}

.swiper_item .title {
  color: #fff;
  line-break: normal;
  font-size: 40px;
  font-weight: 600;
}
.swiper_item .price {
  font-weight: 600;
  color: #fff;
  margin-top: 75px;
  font-size: 2em;
}
.swiper_item .links {
  display: flex;
  gap: 50px;
  list-style-type: none;
  position: absolute;
  bottom: 30px;
  left: 140px;
}
.swiper_item .links li {
  position: relative;
  color: #fff;
}
.swiper_item .links li::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;
  width: 15px;
  height: 15px;
  background-image: url("./images/ul_bullet.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper_container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 300px;
}
