.studio {
    .container {
        height: 100%;
        max-width: calc(1440px - (165px + 165px));
        display: flex;
        justify-content: center;
        margin: 0 auto;
        .content {
            width: 660px;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .title {
                font-size: 19px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
            h1 {
                text-align: center;
            }
            p {
                text-align: center;
                color: #7a7a7a;
                line-height: 40px;
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}